@use './utils/variables';
@use './utils/placeholder';
@use './global/base';
@use './global/reset';
@use './components/header';
@use './components/autorization';
@use './components/logo';
@use './components/hero';
@use './components/button';
@use './components/partner';
@use './components/parthners';