.autorization {
   @extend %flex-center;
   gap: 5px;

   &__link {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 26px;
    &:hover {
        background-color: $main-color;
        color: $button-color;
        border: 2px solid $main-color;
        transition: 2s;
    }
    &--border {
        border: 2px solid $main-color;
    }
   }


}