.button {
  background-color: $button-color;
  padding: 12px 37px;
  border-radius: 26px;
  margin: auto;
  display: block;
  cursor: pointer;
  width: 280px;
  border: 2px solid $button-color;
  @media (min-width:768px) {
    padding: 11px 19px;
    width: auto;
  }

  &:hover {
    background-color: transparent;
    color: $button-color;
    border: 2px solid $button-color;
    transition: 2s;
  }
  &--partner {
    background-color: $main-color;
    color: $button-color;
    border: 2px solid $button-color;
    @media (min-width:768px) {
      padding-inline: 27.231px;
    }

    &:hover {
      background-color: $button-color;
      color: $main-color;

    }
  }
}
