.header {
  position: relative;

  &__container {
    position: absolute;
    top: 19px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 112px;
    flex-direction: column;

    @media (min-width: 768px) {
      position: absolute;
      top: 35px;
      width: 670px;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
    }

    @media (min-width: 1140px) {
        width: 940px;
    }
  }
}
