@use "../utils/variables" as *;
@use "../utils/placeholder" as *;

.header {
    position: relative;

    &__container {
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translatex(-50%);
        display: flex;
        flex-direction: column;
        gap: 112px;

        @media (min-width: 768px) {
            top: 36px;
            position: absolute;
            width: 670px;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
        }

        @media (min-width:1140px) {
            width: 940px;
        }

        @media (max-width: 320px) {
            .header {

                &__container {
                    display: flex;
                    flex-direction: column-reverse;
                    gap: 123px;
                    top: 20px;
                }
            }




        }