.hero {
  background-image: url(../img/hero/background-mobile@1x.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  @extend %flex-center;
  @media(min-device-pixel-ratio:2), (min-resolution:192dpi), (min-resolution:2dppx){
    background-image: url(../img/hero/background-mobile@2x.jpg);
  }
  @media screen and (min-width:768px) {
    background-image: url(../img/hero/background-tablet@1x.jpg);
  
  @media(min-device-pixel-ratio:2), (min-resolution:192dpi), (min-resolution:2dppx){
    background-image: url(../img/hero/background-tablet@2x.jpg);
  }}
  @media screen and (min-width:1200px) {
    background-image: url(../img/hero/background-desctop@1x.jpg);
  
  @media(min-device-pixel-ratio:2), (min-resolution:192dpi), (min-resolution:2dppx){
    background-image: url(../img/hero/background-desctop@2x.jpg);
  }}


  &__title {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 12px;
    @media (min-width:768px) {
      padding-bottom: 36px;
      font-size: 52px;
    }
  }

  &__text {
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    font-family: $second-font;
    padding-bottom: 19px;
    @media (min-width:768px) {
      font-size: 24px;
      padding-bottom: 33px;
    }
  }

}
