@use "../utils/variables" as *;
@use "../utils/placeholder" as *;
.logo {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1px;
    letter-spacing: 1px;
    text-align: center;
}


.logo {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    color: $textPrimaryColor;
}

@media (max-width: 320px) {
    .logo {
        font-size: 18px;
    }
}