.partner {

    @extend %flex-center;
    flex-direction: column;
    &__photo {
        position: relative;
        &::after {
            position: absolute;
            content: '';
            width: 35px;
            height: 35px;
            bottom: 0;
            right: 0;
            border: 3px solid $main-color;
            border-radius: 50px;
            background-repeat: no-repeat;
            background-position: center;
        }
    }



    &__name {
        color: $titles-color;
        text-align: center;
        padding-top: 13px;
    }

    &__info {
        font-family: $second-font;
        color: $text-color;
        font-weight: 300;
        text-align: center;
        padding-top: 13px;
    }

    &__image {
        margin: auto;
        display: block;
        padding-top: 20px;
    }
}

$partners: ( 
    'bradley': '#FF4E50', 
    'heather': '#1CD7AD',
    'lucas': '#FFA507',
    'anna': '#4E73DB',
);

@each $name, $color in $partners {
    .partner__photo--#{$name}::after {
        background-color: #{$color};
        background-image: url(../img/partners/#{$name}/icon.svg);
    }
}