@use "../utils/variables" as *;
@use "../utils/placeholder" as *;
.parthners {
    @extend %flex-center;
    flex-direction: column;
    gap: 14px;

    &__photo {
        position: relative;

        &::after {
            position: absolute;
            content: '';
            width: 36px;
            height: 36px;
            bottom: 0;
            right: 0;
            border: 4px solid $textPrimaryColor;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    &__name {
        color: $textSecondaryColor;
    }

    &__text {
        color: $textColor;
        font-weight: 300;
        font-family: $fontSecondary;
        text-align: center;
    }
}

$parthners: (
    "bradley": "#FF4E50",
    "lucas": "#FFA507",
    "heather": "#1CD7AD",
    "anna": "#4E73DB",
);

@each $name, $color in $parthners {
    .parthners__photo--#{$name}::after {
        background-color: #{$color};
        background-image: url(../imgs/partners/#{$name}/icon.svg);
    }
}