@use "../utils/variables" as *;
@use "../utils/placeholder" as *;
.parthners {
    padding-top: 67px;
    padding-bottom: 56px;

    @media (min-width:768px) {
        padding-top: 70px;
        padding-bottom: 40px;
    }
    &__title {
        font-size: 22px;
        color: $textSecondaryColor;
        padding-bottom: 14px;
        text-align: center;

         @media (min-width:768px){
            padding-bottom: 30px;
         }


    }
    &__list {
        @extend %flex-center;
        flex-direction: column;
        gap: 25px;
        padding-bottom: 27px;
         @media (min-width:768px) {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            column-gap: 53px;
            row-gap: 57px;
            padding-bottom: 38px;
         }
    }
    &__item {
         @media (min-width:768px) {
            flex-basis: calc((100% - 53px) / 2);
         }
          @media (min-width:1140px) {
              flex-basis: calc((100% - 37px) / 4);
          }
        
    }
}